# More seaborn plotting

_Author: Christoph Rahmede_

In [1]:
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(font_scale=1.5)

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

warnings.simplefilter('ignore')

In [2]:
df = pd.read_csv(
    '../../../dataset-collection/Bike-Sharing-Dataset/hour.csv')

In [3]:
df.set_index(pd.to_datetime(df.dteday.astype(str)+'-' +
                            df.hr.map(lambda x: str(x) if x > 9 else '0'+str(x))), inplace=True)

In [4]:
df = df.drop(['instant','dteday'],axis=1)

In [5]:
df.head()

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
2011-01-01 00:00:00,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
2011-01-01 01:00:00,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2011-01-01 02:00:00,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
2011-01-01 03:00:00,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
2011-01-01 04:00:00,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

## Produce a heatmap of the correlation matrix

## Produce a scatterplot of windspeed versus temperature color-coded by counts

## Produce box plots of all the variables

Don't forget standardization.

## Produce a pointplot of temperature or humidity versus season resolved by weathersituation

## Produce a countplot of weathersituations by season

## Produce a pair plot with temperature, humidity and counts