# Olympic athletes

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#The-dataset" data-toc-modified-id="The-dataset-1">The dataset</a></span></li><li><span><a href="#How-many-medals-of-each-type-have-been-awarded?" data-toc-modified-id="How-many-medals-of-each-type-have-been-awarded?-2">How many medals of each type have been awarded?</a></span></li><li><span><a href="#Obtain-a-list-with-all-the-summer-olympics-locations-and-one-with-all-the-winter-olympics-locations." data-toc-modified-id="Obtain-a-list-with-all-the-summer-olympics-locations-and-one-with-all-the-winter-olympics-locations.-3">Obtain a list with all the summer olympics locations and one with all the winter olympics locations.</a></span></li><li><span><a href="#Extract-all-the-olympic-gold-medalists-of-the-sport-of-your-choice." data-toc-modified-id="Extract-all-the-olympic-gold-medalists-of-the-sport-of-your-choice.-4">Extract all the olympic gold medalists of the sport of your choice.</a></span></li><li><span><a href="#Find-out-who-is-the-athlete-with-the-highest-number-of-medals." data-toc-modified-id="Find-out-who-is-the-athlete-with-the-highest-number-of-medals.-5">Find out who is the athlete with the highest number of medals.</a></span></li><li><span><a href="#Find-out-about-further-athletes" data-toc-modified-id="Find-out-about-further-athletes-6">Find out about further athletes</a></span></li><li><span><a href="#Who-are-the-athletes-with-the-most-participations?" data-toc-modified-id="Who-are-the-athletes-with-the-most-participations?-7">Who are the athletes with the most participations?</a></span></li><li><span><a href="#Display-the-distribution-of-medals-per-country" data-toc-modified-id="Display-the-distribution-of-medals-per-country-8">Display the distribution of medals per country</a></span></li><li><span><a href="#Which-are-the-countries-with-the-highest-numbers-of-medals?" data-toc-modified-id="Which-are-the-countries-with-the-highest-numbers-of-medals?-9">Which are the countries with the highest numbers of medals?</a></span></li><li><span><a href="#Which-are-the-countries-with-the-highest-numbers-of-competition-participations?" data-toc-modified-id="Which-are-the-countries-with-the-highest-numbers-of-competition-participations?-10">Which are the countries with the highest numbers of competition participations?</a></span></li><li><span><a href="#Which-countries-have-the-highest-gold-medal-rate-out-of-all-participations?" data-toc-modified-id="Which-countries-have-the-highest-gold-medal-rate-out-of-all-participations?-11">Which countries have the highest gold medal rate out of all participations?</a></span></li><li><span><a href="#What-is-the-number-of-unique-athletes-per-country?" data-toc-modified-id="What-is-the-number-of-unique-athletes-per-country?-12">What is the number of unique athletes per country?</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(font_scale=1.5)

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

## The dataset

The dataset [120 years of Olympic History](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results) contains data about all the participants in the olympics. Be aware that not all names may be accurately represented in that database.

In [2]:
df = pd.read_csv(
    '../../../dataset-collection/120-years-of-olympic-history-athletes-and-results/athlete_events.csv')

In [3]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
df.shape

(271116, 15)

## How many medals of each type have been awarded?

## Obtain a list with all the summer olympics locations and one with all the winter olympics locations.

## Extract all the olympic gold medalists of the sport of your choice.

- Group the results by Year, Event and Name.
- Which are the most successful athletes in that sport?

## Find out who is the athlete with the highest number of medals.  

Get the events where the athlete obtained a medal and how many medals of which type he won in each of these events.

## Find out about further athletes

## Who are the athletes with the most participations?

- Counted by events (in which events did they participate?)
- By number of games

## Display the distribution of medals per country

## Which are the countries with the highest numbers of medals?

## Which are the countries with the highest numbers of competition participations?

## Which countries have the highest gold medal rate out of all participations?

## What is the number of unique athletes per country?